.main{
    width: 100%;
    max-width:900px;
    height: 90vh;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin: 0 auto;
    text-align: left;
}
.main p{
    margin: 20px auto;
    padding: 0;
    width: 100%;
    max-width: 900px;
}